# Exploratory Data Analysis (EDA) of the 500k English Song Lyrics Dataset

In [6]:
import os
import pandas as pd
import spacy

In [8]:
# Get the current working directory

current_directory = os.getcwd()
parent_directory = os.path.dirname(current_directory)
os.chdir(parent_directory)

In [9]:
raw_data_path = 'data/raw/cleaned_train_lyrics.csv'
df = pd.read_csv(raw_data_path)
df = df.drop(columns=['Unnamed: 0'])
df = df.rename(columns={'Lyric': 'lyrics'})

In [10]:
df.head()

                                              lyrics  genre
0  See me, ancient one! Dismal Tuat, Nergal unsaf...  Metal
1  Feels like Im covered in lies so turn off the ...  Metal
2  Works of art, painted black Magniloquent, blee...  Metal
3  Into the cage like an animal You must survive ...  Metal
4  Paralysed in pleasure I hear you call Lost my ...  Metal

In [12]:
# Check for missing values
print(df.isnull().sum())

lyrics    0
genre     0
dtype: int64

In [16]:
# Get a summary of the dataset (number of records, data types)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   lyrics  500000 non-null  object
 1   genre   500000 non-null  object
dtypes: object(2)
memory usage: 7.6+ MB
None

In [15]:
print(df.describe())

                                                   lyrics   genre
count                                              500000  500000
unique                                             496343       5
top     Silent night, holy night All is calm, all is b...   Metal
freq                                                    6  100000